<ul>
  <li>
    <%= button_to no_op_jobs_path do %>
      Schedule a no-op job
    <% end %>
  </li>
  <li>
    <%= button_to exploding_jobs_path do %>
      Schedule a forever-explode job
    <% end %>
  </li>
</ul>

<table>
  <caption>
    Job Executions
  </caption>

  <thead>
    <tr>
      <th>Google ID</th>
      <th>Duration</th>
    </tr>
  </thead>

  <tfoot>
    <tr>
      <th>Total duration</th>
      <th><%= (JobExecution.total_duration / 1000.0).round(4) %>s</th>
    </tr>
  </tfoot>

  <tbody>
    <% job_executions.each do |job| %>
      <tr>
        <td><%= job.provider_job_id %></td>
        <td><%= job.duration.round(4) %>ms</td>
      </tr>
    <% end %>
  </tbody>
</table>